.post{
  max-width: 360px;
  cursor: pointer;
}

.post_tags,
.post_title,
.post_description {
  font-family: 'Roboto';
  font-style: normal;
  margin-top: 1rem;
}

.post_author,
.post_date,
.post_views {
  margin-right: 16px;
}

.post_tags {
  font-weight: 700;
  font-size: 0.813rem;
  color: #EB0028;
}

.post_title {
  font-weight: 700;
  font-size: 1.5rem;
}

.post_info {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.post_author{
  font-weight: 500;
  font-size: 0.75rem;
  color: #000000;
}

.post_date,
.post_views {
  font-weight: 400;  
  font-size: 0.75rem;
  color: #9B9B9B;
}

.post_date,
.post_author,
.post_views {
  position: relative;
  top: 0;
  left: 0;
}

.post_author::before,
.post_date::before{
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -10px;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: #9B9B9B;
  content: "";
}

.post_description {
  font-weight: 400;
  font-size: 0.875rem;
  color: #929292;
}
